body {
  background-color: white;
}

.kontakt {
  .mobile__nav {
    top: 0;
    left: 0;
  }

  .logo__mobile,
  .navigation__button {
    filter: none;
  }

  .navigation__checkbox:checked ~ .navigation__button {
    filter: invert(100%);
  }

  &-content {
    margin-top: 10rem;
    padding: 0 2rem;

    .h2 {
      font-family: var(--font-family);
      font-size: var(--h2-m-font-size);
      font-weight: var(--font-weight-heading);
    }

    .h3 {
      font-family: var(--font-family);
      font-size: var(--h3-m-font-size);
      font-weight: var(--font-weight-heading);
    }

    .p {
      font-family: var(--font-family);
      font-size: var(--body-text-m-font-size);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body);
    }
  }
}

.form {
  &__group {
    margin: 2rem 0;
  }

  &__input {
    width: 20rem;
    height: 2.5rem;
    border: none;
    border-bottom: solid black 3px;
    background-color: var(--color-light-grey);
  }

  &__label {
  }

  #message {
    padding: 3rem 0;
  }
}

.dropdown {
  font-family: var(--font-family);

  &__button {
    width: 20rem;
    height: 3rem;
    border: none;
    text-align: left;
    background-color: var(--color-anthrazit);
    color: white;
  }

  &__icon {
    float: right;
  }

  &__content {
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  &:hover &__content {
    display: block;
  }

  &:active &__content {
    display: block;
  }
}
