body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.kontakt {
  .mobile__nav {
    top: 0;
    left: 0;
  }

  .logo__mobile,
  .navigation__button {
    filter: none;
  }

  .navigation__checkbox:checked ~ .navigation__button {
    filter: invert(100%);
  }

  &-content {
    margin-top: 10rem;
    padding: 0 2rem;

    h2 {
      font-family: var(--font-family);
      font-weight: var(--font-weight-heading);
      font-size: var(--h2-m-font-size);
    }

    h3 {
      font-family: var(--font-family);
      font-size: var(--h3-m-font-size);
      font-weight: var(--font-weight-heading);
    }

    p {
      font-family: var(--font-family);
      font-size: var(--body-text-m-font-size);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body);
    }
  }
}

.form {
  &__group {
    margin: 2rem 0;

    label {
      font-family: var(--font-family);
      font-size: var(--body-text-m-font-size);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body);
    }

    #message {
      font-family: var(--font-family);
      font-size: var(--body-text-m-font-size);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-body);
      padding: 3rem 0 3rem 1rem;
    }
  }

  &__input {
    width: 19rem;
    height: 2.5rem;
    border: none;
    border-bottom: solid black 3px;
    background-color: var(--color-light-grey);
  }

  &__label {
    font-family: var(--font-family);
    font-size: var(--body-text-m-font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-body);
  }

  &__input {
    padding: 0 0 0 1rem;
  }
}

.dropdown {
  font-family: var(--font-family);

  &__button {
    width: 20rem;
    height: 3rem;
    padding: 0 0 0 1rem;
    border: none;
    text-align: left;
    background-color: var(--color-anthrazit);
    color: white;
    font-family: var(--font-family);
    font-size: var(--body-text-m-font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-body);
  }

  &__icon {
    float: right;
    transition: transform 0.3s;
    margin: 0 1rem 0 0;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &__content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;

    &.show {
      max-height: 500px;
      border: 2px solid black;
      border-radius: 3px;
      margin: 0.5rem 0;
    }

    ul {
      list-style: none;
      padding-inline-start: 0;
    }

    li {
      padding: 0.5rem 0 0.5rem 1rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.shop_button_div {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center;
}
