.shop {
    > h2 {
        margin: 5rem 0 0 0;
        padding: 1rem;
        font-size: var(--h2-m-font-size);
        font-weight: var(--font-weight-heading);
    }
}

.logo__mobile {
    filter: none;
}

.navigation__button {
    filter: none;
}