.gallery-container {
  width: 20.5rem;
  display: flex;
  justify-content: center;
  gap: 10px; /* Abstand zwischen den Spalten */
  margin: 0 auto;
}
.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Abstand zwischen den Bildern */
}
.column img {
  width: 100%; /* Passt die Breite der Bilder an den Container an */
  height: auto; /* Behält das Seitenverhältnis der Bilder bei */
}

#das-cafe__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/FEND-Coffee-shop.png");
  background-size: cover;
  background-position: center;
  height: 20.75rem;
}
