.header-content {
  z-index: 1;
  color: white;
  text-align: center;
}

.header-content > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
}

.header {
  background-image: url("../images/coffee.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 75vh; /* Basishöhe für Mobilgeräte */
  display: flex;
  align-items: center;
  justify-content: center;
}


.store-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  align-items: flex-end;
}

.store-button:hover,
.store-button:focus {
  background-color: white;
  color: black;
}
