.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-image: url("../images/FEND-Coffee-latte-art-3.png");
  background-size: cover;
  background-position: center;
  height: 31.25rem;
}

.title_subtitle {
  width: 100%;
}

.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-heading);
  color: white;
  font-size: 4rem;
  margin: 0;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  color: white;
  font-size: 1.125rem;
  margin: 0;
}

#spacer__top {
  flex-grow: 4;
}

#spacer__middle {
  flex-grow: 2;
}

#spacer__bottom {
  flex-grow: 1;
}

.shop_button {
  width: 10.5rem;
  height: 3.25rem;
  font-family: "Roboto", sans-serif;
  color: white;
  background: black;
  font-size: 1.125rem;
  border-radius: 5px;
  border: 2px solid black;
}

/* Hover Effekt fehlt noch */
