.header {
  background: url("../images/FEND-Coffee-latte-art-3.png");
  text-align: center;
  height: 75vh;
}

.title {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 64px;
  position: absolute;
  bottom: 56.4%;
  margin-bottom: 20px;
}

.subtitle {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  position: absolute;
  bottom: 54%;
}

.shop_button_div {
  width: 100%;
  position: absolute;
  bottom: 35%;
}

.shop_button {
  width: 168px;
  height: 52px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: black;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid black;
}

/* Hover Effekt fehlt noch */