.mobile__nav {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 55px;
  color: transparent;
}

.navbar__mitte {
  flex-grow: 1;
}

.logo__mobile {
  height: 35px;
  width: auto;
  margin-left: 15px;
  margin-top: 5px;
  filter: invert(100%);
}

.navigation__checkbox {
  display: none;
}
/* Stile für den Navigationsschalter */
.navigation__button {
  background-image: url("../images/Burger Menu.svg");
  filter: invert(100%);
  background-size: 24px 16px; /* Setzt die Größe des Hintergrundbildes entsprechend den ursprünglichen SVG-Abmessungen */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  background-position: center; /* Zentriert das Bild im Element */
  width: 24px; /* Breite des Elements entsprechend der Breite des SVG */
  height: 16px; /* Höhe des Elements entsprechend der Höhe des SVG */
  display: inline-block; /* Ermöglicht die Anwendung von Breite und Höhe */
  cursor: pointer; /* Zeigt an, dass es klickbar ist */
  /* position: absolute;  Bleibt an der festen Position */
  margin-right: 15px;
  margin-top: 5px;
  top: 20px; /* Abstand von oben */
  right: 20px; /* Abstand von rechts */
  z-index: 2000; /* Stellt sicher, dass es über anderen Elementen liegt */
}

.navigation__button img {
  filter: invert(100%);
  width: 30px; /* Größe des Burger-Menü-Symbols anpassen */
  height: auto; /* Höhe automatisch anpassen, um das Seitenverhältnis zu bewahren */
}

/* Vollbild-Navigationsmenü */
.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  background-color: var(--color-anthrazit); /* Hintergrundfarbe */
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0; /* Standardmäßig versteckt */
  transition: opacity 0.5s ease; /* Sanfte Übergangsanimation */
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 0;
  list-style: none;
  text-align: left;
}

.navigation__list a {
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--h3-m-font-size);
  font-weight: var(--font-weight-heading);
  padding: 1rem 0;
  color: white;
}

.navigation__link {
  text-decoration: none;
  color: #fff; /* Farbe der Links, weiß für bessere Sichtbarkeit */
}

/* Anzeigen des Navigationsmenüs, wenn die Checkbox markiert ist */
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1; /* Menü sichtbar machen */
  width: 100%;
}

.navigation__checkbox:checked ~ .navigation__button {
  background-image: url("../../images/Burger\ Menu\ close.svg"); /* Pfad zum Bild für den "geschlossenen" Zustand */
  position: fixed;
  top: 15px;
  right: 0px;
}
