    <footer class="footer_mobile">
      <img
        class="footer_mobile_logo"
        src="../images/Logo.svg"
        alt="Logo vom Cafe"
      />
      <h2>Rustica</h2>
      <h3>Cafe Rösterei</h3>
      <div>
        <div>
          <p>Komm uns besuchen!</p>
          <p>Frauenhoferstr. 13, Kiel</p>
        </div>
        <div>
          <p>Mo - Fr 8-18 Uhr</p>
          <p>Sa 11-18 Uhr</p>
        </div>

        <div>
          <p>Impressum</p>
          <p>Frauenhoferstr. 13, Kiel</p>
        </div>
        <div>
          <p><a href="../sub-page/das-cafe.html">Das Cafe</a></p>
          <p>Shop</p>
          <p><a href="../sub-page/herkunft.html">Herkunft</a></p>
        </div>
      </div>
    </footer>