    <header class="header">
      <div id="spacer__top"></div>
      <div class="title_subtitle">
        <h1 class="title">Rustica</h1>
        <h2 class="subtitle">Bio und Fair seit 1991</h2>
      </div>
      <div id="spacer__middle"></div>

      <button class="shop_button">zum Shop</button>

      <div id="spacer__bottom"></div>
    </header>