<article class="komm__vorbei">
        <h2>Komm vorbei</h2>
        <iframe
          class="custom-map-frame"
          src="https://www.openstreetmap.org/export/embed.html?bbox=10.119615197181703%2C54.340874529698866%2C10.124872326850893%2C54.342850904439096&amp;layer=mapnik&amp;marker=54.34186272894648%2C10.122243762016296"
        ></iframe>
      </article>