<nav class="mobile__nav">
  <div class="svg-container">
    <img class="logo__mobile" src="./images/Logo.svg" alt="Logo der Rösterei" />
  </div>
  <div class="navbar__mitte"></div>
  <div class="burger__menu">
    <img src="./images/Burger Menu.svg" alt="Auswahlmenü" />
  </div>
</nav>