:root {
  /* Colors */
  --color-white: #ffffff;
  --color-anthrazit: #1a1a1a;
  --color-kraftpapier: #d7be9d;
  --color-petrol: #006d7e;
  --color-rosa: #edd1c9;
  --color-orange: #d77c12;
  --color-medium-grey: #737373;
  --color-light-grey: #e9e9e9;

  /* Text Styles */
  --font-family: "Roboto", sans-serif;

  --h1-font-size: 96px;
  --h2-font-size: 48px;
  --h3-font-size: 42px;
  --body-text-font-szie: 18px;

  --h1-m-font-size: 64px;
  --h2-m-font-size: 36px;
  --h3-m-font-size: 32px;
  --body-text-m-font-size: 14px;

  --font-weight-normal: 400;
  --font-weight-heading: 900;

  --line-height-body: 1.3;
  --line-height-heading: 1.1;
}
